<div class="header">
    <div class="bloco">
        <img src="" alt="Logo" width="200">
    </div>


    <div class="bloco">
        <h1>Compliment pool - O lago dos elogios</h1>
        
    </div>
    
    <div class="bloco">
    <p>Uma aglomeração de indiretas diretas para você se inspirar e chamar atenção dos seus afetos!</p>
    </div>
    <div class="bloco botoes">
            <a href="/create" class="botao"> Deixe uma ideia no lago </a>
            <a href="/read" class="botao" alt="Ler todos os registros"> Visualizar tudo (read) </a>
            <a href="/sort" class="botao" alt="Ler uma aleatória"> Com sorte? </a>
    </div>
    <br/>
    <hr/>
</div>