<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pages/read_all.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>Document</title>
</head>

<body onload="iniciar()">


    {% include 'header.html' %}




    <div class="titulo">
        <h2>Visualizar todos os registros</h2>


    </div>



    <div class="bloco">
        <table class="tabela">
            <tr class="tabela_header">
                <td>ID</td>
                <td>Chamada</td>
                <td>Paquera</td>
                <td>Ações</td>
            </tr>
            {% for registro in registros%}
            <tr>
                <td>{{ registro ["id"] }}</td>
                <td>
                    <!-- <input type="text" name="texto" class="texto" value="{{ registro ['chamada']}}" id="texto"> -->
                    <div class="texto"></div>
                    <textarea class="texto" id="chamada">{{ registro ['chamada']}}</textarea>
                </td>
                </td>
                <td>
                    <!-- <input type="text" name="texto" class="texto" value="{{ registro ['paquera']}}" id="texto"> -->
                    <textarea class="texto" id="paquera">{{ registro ['paquera']}}</textarea>
                </td>
                <div class="text"></div>
                <td>
                    <button class="botao" id="copy" onclick="copiar_texto()">Copiar</button>
                </td>
            </tr>
            {% endfor %}

        </table>


    </div>
    {% include 'footer.html' %}
    <script type="text/javascript" src="../static/index.js"></script>
</body>

</html>