<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/pages/read_rand.css">
    <title>Com sorte</title>
</head>

<body onload="iniciar()">

    {% include 'header.html' %}


    <div class="bloco">
        <h2 id="chamada">{{chamada_sorteada}}</h2>
    </div>


    <div class="bloco">
        <h2 id="paquera">{{paquera_sorteada}}</h2>
    </div>

    <div class="bloco">
        <button class="botao" id="copy">Copiar</button>
    </div>
</body>
<script type="text/javascript" src="../static/index.js"></script>

</html>