<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/pages/read_single.css">
    <title>Com sorte</title>
</head>

<body>

    {% include 'header.html' %}

    <div class="bola top"></div>
    <div class="bola bottom"></div>
    <div class="bloco">
        <h2><span id="texto"> {{chamada_sorteada}}</h2>
    </div>


    <div class="bloco">
        <p> {{paquera_sorteada}}</p></span>
    </div>


    <div class="bloco">
        <a class="botao" id="copy" onclick="copiar_texto()">Copiar</a>
    </div>

    <div class="bola">

    </div>

    {% include 'footer.html' %}
</body>

</html>