header {
  flex: auto;
  text-align: center;
  display: absolute;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
}

.tabela {
  border: 1px solid #bababa;
  border-spacing: 0;
  margin: 0 auto 20px;
  width: 90%;
  border-radius: 5px;
}
.texto {

  padding: 10px 20px 20px 5px;
  max-width: 2vw;
  min-width: 300px;
  text-align: left;

  font-size: 12 bold;

}

.tabela tr:nth-child(even) td {
  background: #858585;
}

.tabela td {
  padding: 10px;
}

.tabela_header td {
  font-weight: bold;
  align-items: center;
}

img {
  max-width: 200px;
  max-height: 100px;
}
.titulo{
  display: absolute;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  text-align: center;

}


    
.bola{
  width: 21.2rem;
  height: 21.2rem;
  clip-path: circle();
  background: rgb(88, 12, 160);
  position: fixed;
  opacity: 0.3;

}

.bola.top{
  top: -46rem;
  width: 43.3rem;
  height: 23.3rem;
  right: -35rem;


}

.bola.bottom{
  bottom: -15rem;
  right: 3.6rem;


}
@media(max-width: 600px){
  .tabela{
    width: 30%;
  }
  td{
    font-size: 0.4rem;
  }
  th,td{

    font-size: 0.6rem;
    min-height: 20px;
    max-height: 30px;
    justify-content: left;
  }
  th{
    width: 10%;
  }
  .texto {
    display: flex;
    justify-content: left;

    min-width: 40px;

    max-height: 40px;
 
  }
  #verCantada{
    height: 20px;
    width: 20px;

    padding: 5px;


  }

}