@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background: rgb(19, 12, 29);
  font-family: "Montserrat", sans-serif;
  color: beige;
  margin: 0;
  min-height: calc(100vh - 40px);
}

.header {
  padding-top: 20px;
  background: #5a5959;
}
.header a{
   text-decoration: none;
   position: absolute;
}

.footer {
  max-height: .1vh, 10px;
  padding-bottom: 10px;
  font-size: .8rem;
  justify-content: bottom;
  align-items: baseline;
  margin-top: 150px;
}
.footer p{
  position: absolute;
  background: #7c7c7c;
  display: inline block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container.principal{
  width: 33%
}
.bloco.frase{
  display: block;
}
.bloco.titulo{
  display: block;
}
.retrato{
  width: 30%;
  display: flex;
  justify-content: center;
  
}

.retrato img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.bloco {
  display: flex;
  justify-content: center;
  text-align: center;
}

.botao {
  background-color: #5a0063;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: clamp(10px, 2vw, 1.8rem);
  margin: 0 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  max-height: 50px;
  width: 8vw;

  transition: 1s margin-left, color 1s, ease 1s;
}

.botao:hover {
  background-color: #cd27ff;
  filter: brightness(1.2);
}

.botao:active{
  background-color: #490f5a;
  
}
