<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/pages/read_all.css">
    <link rel="stylesheet" href="static/style.css">

    <title>Document</title>
</head>

<body onload="iniciar()">


    {% include 'header.html' %}




    <div class="titulo">
        <h2>Visualizar todos os registros</h2>


    </div>



    <div>
        <table class="tabela">
            <tr class="tabela_header">
                <td>ID</td>
                <td>Chamada</td>
                <td>Paquera</td>
                <td>Ações</td>
            </tr>
            {% for registro in registros%}
            <tr>
                <td>{{ registro.id }}</td>
                <td>
                    

                    <p class="texto" id="chamada">{{ registro.chamada }}</p>

                </td>
                </td>
                <td>
               
                    <p class="texto" id="paquera">{{ registro.paquera }}</p>
                </td>
                <td>
                    <a href="/read/{{registro.id}}" class="botao" id="verCantada">Ver Cantada</button>

                </td>
            </tr>
            {% endfor %}

        </table>


    </div>

    {% include 'footer.html' %}

    <script type=" text/javascript" src="../static/index.js"></script>

</body>

</html>