.imagem{
    max-height: 400px;
    
}
body{
    background-color: rgb(33, 50, 80);
}



    
.bola{
    width: 21.2rem;
    height: 21.2rem;
    clip-path: circle();
    background: rgb(88, 12, 160);
    position: fixed;
    opacity: 0.3;

}

.bola.top{
    top: -46rem;
    width: 43.3rem;
    height: 23.3rem;
    right: -35rem;


}

.bola.bottom{
    bottom: -15rem;
    right: 3.6rem;


}
